$icomoon-font-family: 'live-football' !default;
$icomoon-font-path: '.' !default;

$ico-zoom-out: '\e900';
$ico-zoom-in: '\e901';
$ico-website: '\e904';
$ico-web-browser: '\e905';
$ico-watch: '\e906';
$ico-wallet: '\e907';
$ico-volume-up: '\e908';
$ico-volume-up-2: '\e909';
$ico-volume-down-2: '\e90a';
$ico-volume-down-1: '\e90b';
$ico-virus: '\e90c';
$ico-virus-not-checked: '\e90d';
$ico-virus-found: '\e90e';
$ico-virus-checked: '\e90f';
$ico-video: '\e910';
$ico-verified: '\e911';
$ico-user: '\e912';
$ico-user-scanning: '\e913';
$ico-user-not-accepted: '\e914';
$ico-user-added: '\e915';
$ico-user-accepted: '\e916';
$ico-upload-2: '\e917';
$ico-upload-1: '\e918';
$ico-up: '\e919';
$ico-up-down-2: '\e91a';
$ico-up-down-1: '\e91b';
$ico-up-arrow-2: '\e91c';
$ico-up-arrow-1: '\e91d';
$ico-unlock: '\e91e';
$ico-typing: '\e91f';
$ico-tv: '\e920';
$ico-tnt: '\e921';
$ico-time: '\e922';
$ico-ticket: '\e923';
$ico-text: '\e924';
$ico-tea: '\e925';
$ico-tag: '\e926';
$ico-supergroup: '\e927';
$ico-sun: '\e928';
$ico-star: '\e929';
$ico-square: '\e92a';
$ico-speaker: '\e92b';
$ico-situation: '\e92c';
$ico-show: '\e92d';
$ico-settings: '\e92e';
$ico-search: '\e92f';
$ico-scanning-5: '\e930';
$ico-scanning-4: '\e931';
$ico-scanning-3: '\e932';
$ico-scanning-2: '\e933';
$ico-scanning-1: '\e934';
$ico-sale: '\e935';
$ico-sale-coupon: '\e936';
$ico-safe-box: '\e937';
$ico-safari: '\e938';
$ico-rotate-right: '\e939';
$ico-rotate-left: '\e93a';
$ico-right: '\e93b';
$ico-right-arrow-2: '\e93c';
$ico-right-arrow-1: '\e93d';
$ico-refresh-2: '\e93e';
$ico-refresh-1: '\e93f';
$ico-ps5: '\e940';
$ico-ps2: '\e941';
$ico-printer: '\e942';
$ico-previous: '\e943';
$ico-play: '\e944';
$ico-pizza: '\e945';
$ico-pin: '\e946';
$ico-personal-card-2: '\e947';
$ico-personal-card-1: '\e948';
$ico-pen: '\e949';
$ico-pause: '\e94a';
$ico-palette: '\e94b';
$ico-paint-roller: '\e94c';
$ico-paint-bucket: '\e94d';
$ico-other: '\e94e';
$ico-office-bag: '\e94f';
$ico-off: '\e950';
$ico-numerical-star: '\e951';
$ico-notification-3: '\e952';
$ico-notification-2: '\e953';
$ico-notification-1: '\e954';
$ico-normal-battery: '\e955';
$ico-next: '\e956';
$ico-navigation: '\e957';
$ico-mute-2: '\e958';
$ico-mute-1: '\e959';
$ico-mouse: '\e95a';
$ico-moon-2: '\e95b';
$ico-moon-1: '\e95c';
$ico-modem: '\e95d';
$ico-missed-call: '\e95e';
$ico-minimize: '\e95f';
$ico-microphone-on: '\e960';
$ico-microphone-off: '\e961';
$ico-message-align-right: '\e962';
$ico-message-align-left: '\e963';
$ico-message-2: '\e964';
$ico-message-1: '\e965';
$ico-menu: '\e966';
$ico-megaphone: '\e967';
$ico-mask: '\e968';
$ico-low-battery: '\e969';
$ico-lock: '\e96a';
$ico-location: '\e96b';
$ico-link: '\e96c';
$ico-left: '\e96d';
$ico-left-right-2: '\e96e';
$ico-left-right-1: '\e96f';
$ico-left-arrow-2: '\e970';
$ico-left-arrow-1: '\e971';
$ico-laptop: '\e972';
$ico-keyboard: '\e973';
$ico-key: '\e974';
$ico-justified: '\e975';
$ico-italic: '\e976';
$ico-iphone-se: '\e977';
$ico-iphone-pro-max-2: '\e978';
$ico-iphone-pro-max-1: '\e979';
$ico-information: '\e98d';
$ico-inbox-2: '\e98e';
$ico-inbox-1: '\e98f';
$ico-image: '\e990';
$ico-imac-2021: '\e991';
$ico-ice-cream: '\e992';
$ico-home: '\e993';
$ico-hidden: '\e994';
$ico-heater: '\e995';
$ico-heart: '\e996';
$ico-heart-beat: '\e997';
$ico-headphone: '\e998';
$ico-hashtag: '\e999';
$ico-group-2: '\e99a';
$ico-group-1: '\e99b';
$ico-graph: '\e99c';
$ico-gift: '\e99d';
$ico-fully-charged: '\e99e';
$ico-forbidden: '\e99f';
$ico-football: '\e9a0';
$ico-folder-2: '\e9a1';
$ico-folder-1: '\e9a2';
$ico-flash: '\e9a3';
$ico-flash-disk: '\e9a4';
$ico-first-aid-box: '\e9a5';
$ico-fingerprint-scanning: '\e9a6';
$ico-filter: '\e9a7';
$ico-faq: '\e9a8';
$ico-facebook-path1: '\e9a9';
$ico-facebook-path2: '\e9aa';
$ico-face-id: '\e9ab';
$ico-exit: '\e9ac';
$ico-equalizer-settings: '\e9ad';
$ico-education: '\e9ae';
$ico-edit: '\e9af';
$ico-drink: '\e9b0';
$ico-download-2: '\e9b1';
$ico-download-1: '\e9b2';
$ico-down: '\e9b3';
$ico-down-arrow-2: '\e9b4';
$ico-down-arrow-1: '\e9b5';
$ico-document-align-right-2: '\e9b6';
$ico-document-align-right-1: '\e9b7';
$ico-document-align-left-2: '\e9b8';
$ico-document-align-left-1: '\e9b9';
$ico-document-align-center-2: '\e9ba';
$ico-document-align-center-1: '\e9bb';
$ico-display: '\e9bc';
$ico-dish: '\e9bd';
$ico-delete: '\e9be';
$ico-danger: '\e9bf';
$ico-crop: '\e9c0';
$ico-credit-card: '\e9c1';
$ico-coupon: '\e9c2';
$ico-copy: '\e9c3';
$ico-cooler: '\e9c4';
$ico-comment: '\e9c5';
$ico-color-picker: '\e9c6';
$ico-color-palette: '\e9c7';
$ico-coding: '\e9c8';
$ico-cloud: '\e9c9';
$ico-close: '\e9ca';
$ico-chrome: '\e9cb';
$ico-chip: '\e9cc';
$ico-checked: '\e9cd';
$ico-chart: '\e9ce';
$ico-cash: '\e9cf';
$ico-cart-3: '\e9d0';
$ico-cart-2: '\e9d1';
$ico-cart-1: '\e9d2';
$ico-camera: '\e9d3';
$ico-calling: '\e9d4';
$ico-call: '\e9d5';
$ico-calendar: '\e9d6';
$ico-calendar-not-checked: '\e9d7';
$ico-calendar-checked: '\e9d8';
$ico-calendar-2: '\e9d9';
$ico-burger: '\e9da';
$ico-brush: '\e9db';
$ico-bookmark: '\e9dc';
$ico-bold: '\e9dd';
$ico-battery-charging: '\e9de';
$ico-basketball: '\e9df';
$ico-baseball: '\e9e0';
$ico-band-aids: '\e9e1';
$ico-baking: '\e9e2';
$ico-bag: '\e9e3';
$ico-award: '\e9e4';
$ico-attachment-2: '\e9e5';
$ico-attachment-1: '\e9e6';
$ico-antiseptic: '\e9e7';
$ico-analytics: '\e9e8';
$ico-align-right: '\e9e9';
$ico-align-left: '\e9ea';
$ico-align-center: '\e9eb';
$ico-alarm: '\e9ec';
$ico-airpods: '\e9ed';
$ico-add: '\e9ee';
$ico-add-menu: '\e9ef';
$ico-activities-2: '\e9f0';
$ico-activities-1: '\e9f1';
