.btn-primary {
    padding: 8px 16px !important;
    background-color: #0d3659 !important;
    border-radius: 2px !important;
    border-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: #fff !important;
    }
    &:hover {
        opacity: 0.8;
        border-color: #0d3659 !important;
        background-color: #fff !important;
        span {
            color: #0d3659 !important;
        }
    }
}

.btn-dashed {
    padding: 6px 16px !important;
    background-color: #e51a3c !important;
    border-radius: 6px !important;
    border-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: #fff !important;
    }
    &:hover {
        opacity: 0.8;
        border-color: #e51a3c !important;
        background-color: #fff !important;
        span {
            color: #e51a3c !important;
        }
    }
}

.btn-secondary {
    padding: 6px 16px !important;
    background-color: #355b65 !important;
    border-radius: 6px !important;
    border-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: #fff !important;
    }
    &:hover {
        opacity: 0.8;
        border-color: #355b65 !important;
        background-color: #fff !important;
        span {
            color: #355b65 !important;
        }
    }
}

.btn-outline {
    padding: 4px 14px !important;
    background-color: transparent !important;
    border-radius: 6px !important;
    border: 1px solid #868e96 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: #868e96 !important;
        text-transform: capitalize;
    }
    &:hover {
        border-color: white !important;
        background: #868e96 !important;
        span {
            color: white !important;
        }
    }
}

.btn-outline-primary {
    padding: 4px 14px !important;
    background-color: transparent !important;
    border-radius: 2px !important;
    border: 1px solid #868e96 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: #868e96 !important;
        text-transform: capitalize;
    }
    &:hover {
        border-color: white !important;
        background: #868e96 !important;
        span {
            color: white !important;
        }
    }
}
